# Dependencies
node_modules
dist
.DS_Store
server/public

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
*.log
*.tar.gz
vite.config.ts.*

# IDE specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Drizzle
migrations